<div class="pet-index-wrapper">
  
  <div class="comment-container">
    <h1 class="text-center text">コメント</h1>
       
      <%= form_for @comment do |f|  %>
        <div class="row">
          <div class="col-md-4 col-md-offset-4">
            <%= f.text_area :content, class: "form-control", :size=>"50x8" %><!--formのサイズ変更-->
            <%= f.hidden_field :pet_id,value: params[:pet_id] %>
          </div>
        </div>
            
        <div class="row">
          <div class="btn-zone">
            <div class="col-md-offset-4 col-md-2">
              <%= button_tag :type => "submit", class: 'btn btn-primary rounded-pill btn-block' do %>
                <i class="fas fa-paw"> コメントする</i>
              <% end %>
            </div>
            <div class="col-md-2">
              <%= link_to pets_path, class: 'btn btn-primary rounded-pill btn-block' do %>
                <i class="fas fa-paw"> もどる</i>
              <% end %>
            </div>
          </div>
        </div>
       　
      <% end %>
      
  </div>
</div>
