<% if logged_in? %>
<div class="pet-index-wrapper">
  <div class="pet-container2">
    <h1 class="text-center text", style="padding-bottom: 10px">飼い主探してます!</h1>
      <h4 class="text-center text">引き取りたい子の「ほしいボタン」を押してください。
      <br><span style="border-bottom: solid 1px white;">※ボタンを押すと投稿主にアドレスが表示されますので、連絡をお待ちください。</span></h4>
      <div class="text-right search">
        <div class="form-group">
          <%= form_tag(pets_path, :method => "get") do %><!--検索機能-->
            <%= text_field_tag :search, '',class: "search-form", placeholder: "例）チワワ、猫 etc" %> 
            <%= submit_tag "検索" ,:name => nil ,class: "search-btn btn-primary" %> 
          <% end %>
        </div>
      </div>
      <div class="row row-eq-height"><!--row-eq-heightとcssで高さ統一-->

          <% @pets.each do |pet| %>
            <div class="col-md-4 col-sm-6">
              <div class="card">
                <h4 class="card-header"><%= pet.type %></h4>
                  <div class="card-body">
                    <h5 class="pet-author">
                      <p class="pet-text">ユーザー名：<%= pet.user.try(:name) %></p>
                    </h5>
                      <p class="pet-text1">
                        <%= pet.prefecture %>
                      </p>
                      <p class="pet-text2">
                        <%= pet.city %>
                      </p>
                        <%= image_tag pet.image.url, style: 'max-height: 300px; width: 100%; object-fit: contain' %>
                      <div class="card-body">
                        <p class="message">
                          ＜メッセージ＞<br>
                          <%= pet.description %>
                        </p>
                        <p class="pet-text">
                          <%= pet.gender %>
                        </p>
                        
                        <% if current_user.favorites.find_by(pet_id: pet.id) %>
                        <%= link_to favorites_path(pet_id: pet.id), method: :delete, data: { confirm: '解除しますか？'}, class: 'btn btn-success rounded-pill' do %>
                          <i class="fas fa-paw"> ほしい解除</i>
                          <% end %>
                        <% else %>
                          <%= link_to favorites_path(pet_id: pet.id), method: :post, class: 'btn btn-primary rounded-pill' do %>
                          <i class="fas fa-paw"> ほしい</i>
                          <% end %>
                        <% end %>
                     
                        <%= link_to comments_new_path(pet_id: pet.id), class: 'btn btn-primary rounded-pill' do %>
                          <i class="far fa-comment-dots"> コメント</i>
                        <% end %>
                        
                        <ul id="faq-list", style="padding-inline-start: 0;">
                          <li class="faq-list-item">
                            <h5 class="question">コメント一覧</h5>
                            <span>+</span>
                              <div class="answer">
                                <% pet.comments.each do |comment| %>
                                  <p class="pet-comment">
                                    <%= comment.user.name %>　
                                    <%= comment.content %>
                                      <% if logged_in? && current_user.id == comment.user_id %>
                                        <span class="delete"><%= link_to "削除", "/comments/#{comment.id}", method: :delete, data: { confirm: '削除しますか？'} %></span><!--#{comment.id}で対象コメント-->
                                      <% end %>
                                  </p>
                                <% end %>
                              </div>
                          </li>
                        </ul>
                        
                        <p class="time text-right"><%= pet.created_at.to_s(:datetime) %></p><!--.to_s(:datetime)でinitializers/time_format.rbを適用-->
                      </div>
                  </div>
              </div>
            </div>
          <% end %>
        </div>
      </div>
</div>
<% else %>
<div class="pet-index-wrapper">
  <div class="pet-container2">
    <h1 class="text-center text", style="padding-bottom: 10px">飼い主探してます!</h1>
      <h4 class="text-center text", style="text-decoration: underline; padding-bottom: 50px">引き取りたい子の「ほしいボタン」を押してください。<br>※ボタンを押すと投稿主にアドレスが表示されますので、連絡をお待ちください。</h4>
      
        <div class="row row-eq-height"><!--row-eq-heightとcssで高さ統一-->
          <% @pets.each do |pet| %>
            <div class="col-md-4 col-sm-6">
              <div class="card">
                <h4 class="card-header"><%= pet.type %></h4>
                  <div class="card-body">
                    <h5 class="pet-author">
                      <p class="pet-text">ユーザー名：<%= pet.user.try(:name) %></p>
                    </h5>
                      <p class="pet-text1">
                        <%= pet.prefecture %>
                      </p>
                      <p class="pet-text2">
                        <%= pet.city %>
                      </p>
                        <%= image_tag pet.image.url, style: 'max-height: 300px; width: 100%; object-fit: contain' %>
                      <div class="card-body">
                        <p class="message">
                          ＜メッセージ＞<br>
                          <%= pet.description %>
                        </p>
                        <p class="pet-text">
                          <%= pet.gender %>
                        </p>
                        　
                        <ul id="faq-list", style="padding-inline-start: 0;">
                          <li class="faq-list-item">
                            <h5>コメント一覧</h5>
                            <span>+</span>
                              <div class="answer">
                                <% pet.comments.each do |comment| %>
                                  <p class="pet-comment">
                                  <%= comment.user.name %>　
                                  <%= comment.content %>
                                  </p>
                                <% end %>
                              </div>
                          </li>
                        </ul>
                        
                        <p class="time text-right"><%= pet.created_at.to_s(:datetime) %></p><!--.to_s(:datetime)でinitializers/time_format.rbを適用-->
                      </div>
                  </div>
              </div>
            </div>
          <% end %>
        </div>
  </div>
</div>
<% end %>