<div class="users-new-wrapper">
  <div class="container">
    <div class="row">
      <div class="col-md-offset-4 col-md-4 users-new-container">
        <h1 class="text-center text">新規登録</h1>
        <%= form_for @user do |f| %>
        
          <div class="form-group">
            <%= f.label :ユーザー名, class: 'text' %>
            <%= f.text_field :name, class: 'form-control', placeholder: "ユーザー名" %>
          </div>
          
          <div class="form-group">
            <%= f.label :email, class: 'text-white' %>
            <%= f.text_field :email, class: 'form-control', placeholder: "@email" %>
          </div>
          
          <div class="form-group">
            <%= f.label :パスワード, class: 'text' %>
            <%= f.password_field :password, class: 'form-control', placeholder: "8~32文字" %>
          </div>
          
          <div class="form-group">
            <%= f.label :パスワード確認, class: 'text' %>
            <%= f.password_field :password_confirmation, class: 'form-control', placeholder: "確認" %>
          </div>
          
          <div class="row">
            <div class="btn-zone">
              <div class="col-md-6">
                <%= button_tag :type => "submit", class: 'btn btn-primary rounded-pill btn-block' do %>
                  <i class="fas fa-paw"> 登　録</i>
                <% end %>
              </div>
              <div class="col-md-6">
                <%= link_to root_path, class: 'btn btn-primary rounded-pill btn-block' do %>
                  <i class="fas fa-paw"> もどる</i>
                <% end %>
              </div>
            </div>
          </div>
          
        <% end %>
      </div>
    </div>
  </div>
</div>
      
