<div class="users-new-wrapper">
  <div class="container">
    <div class="row">
      <div class="col-md-offset-4 col-md-4 users-new-container">
        <h1 class="text-center text">新規登録</h1>
        <%= form_for @user do |f| %>
        
          <div class="form-group">
            <%= f.label :ユーザー名, class: 'text' %>
            <%= f.text_field :name, class: 'form-control' %>
          </div>
          
          <div class="form-group">
            <%= f.label :email, class: 'text-white' %>
            <%= f.text_field :email, class: 'form-control' %>
          </div>
          
          <div class="form-group">
            <%= f.label :パスワード, class: 'text' %>
            <%= f.password_field :password, class: 'form-control' %>
          </div>
          
          <div class="form-group">
            <%= f.label :パスワード確認, class: 'text' %>
            <%= f.password_field :password_confirmation, class: 'form-control' %>
          </div>
          <div class="col-md-offset-4">
          <%= button_tag :type => "submit", class: 'btn btn-primary rounded-pill' do %>
        　<i class="fas fa-paw"> 登 録</i>
       　  <% end %>
       　  </div>
       　  
        <% end %>
      </div>
    </div>
  </div>
</div>
      
