<!DOCTYPE html>
<html>
  <head>
    <title>Jimopet</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <script src="https://kit.fontawesome.com/a60a9ff68e.js" crossorigin="anonymous"></script>
   
  </head>

  <body>
    <% flash.each do |key, value| %> <!--登録フィードバック-->
  　　<div class="alert alert-<%= key %>" role="alert"><%= value %></div>
　　<% end %>
　　
　　<!-- ナビゲーションバー-->
　　<nav class="navbar navbar-default navbar-fixed-top navbar-transparent">
      <div class="container">
        <%= link_to root_path do %>
          <span><%= image_tag "logo2.png", class: "navbar-brand" %></span>
        <% end %>
        
        <ul class="nav navbar-nav　 navbar-right nav-pills"> <!--nav-pillsで横並び-->
          <% if logged_in? %>
            <li>
              <%= link_to "ほしいリスト", favorites_index_path, class: "nav-text" %>
            </li>
            <li>
              <%= link_to "ペット投稿", pets_new_path, class: "nav-text" %>
            </li>
            <li>
              <%= link_to "ペット一覧", pets_path, class: "nav-text" %>
            </li>
            <li>
              <%= link_to "jimopetについて", pages_about_path, class: "nav-text" %>
            </li>
            <li>
              <%= link_to "ログアウト", logout_path, method: :delete, class: "nav-text" %>
            </li>
          <% else %>
            <li>
              <%= link_to "jimopetについて", pages_about_path, class: "nav-text2" %>
            </li>
            <li>
              <%= link_to "ログイン", login_path, class: "nav-text2" %>
            </li>
          <% end %>
        </ul>
        
      </div>
    </nav>
    <%= yield %>
    <!--3秒で消える-->
    <script> 
  　$(function(){
    　$(".alert").fadeOut(3000);
 　　 });
　　</script>
　　
  </body>
</html>
