<!DOCTYPE html>
<html>
  <head>
    <title>Jimopet</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <script src="https://kit.fontawesome.com/a60a9ff68e.js" crossorigin="anonymous"></script>
   
  </head>

  <body>
    <% flash.each do |key, value| %> <!--登録フィードバック-->
  　　<div class="alert alert-<%= key %>" role="alert"><%= value %></div>
　　<% end %>
　　
　　<!-- ナビゲーションバー-->
　　<nav class="navbar navbar-default navbar-fixed-top navbar-transparent">
      <div class="container">
        <%= link_to "jimopet",root_path, class: "navbar-brand nav-text3"  %>
          
        <div class="menu-pc">
        <ul class="nav navbar-right nav-pills"> <!--nav-pillsで横並び-->
          <% if logged_in? %>
            <li>
              <%= link_to "マイページ", user_path(current_user.id), class: "nav-text" %>
            </li>
            <li>
              <%= link_to "ほしいリスト", favorites_index_path, class: "nav-text" %>
            </li>
            <li>
              <%= link_to "ペット投稿", pets_new_path, class: "nav-text" %>
            </li>
            <li>
              <%= link_to "ペット一覧", pets_path, class: "nav-text" %>
            </li>
            <li>
              <%= link_to "jimopetについて", pages_about_path, class: "nav-text" %>
            </li>
            <li>
              <%= link_to "ログアウト", logout_path, method: :delete, class: "nav-text" %>
            </li>
          <% else %>
            <li>
              <%= link_to "jimopetについて", pages_about_path, class: "nav-text2" %>
            </li>
            <li>
              <%= link_to "ログイン", login_path, class: "nav-text2" %>
            </li>
          <% end %>
        </ul>
        </div>
        
        
        <!--smf-->
        <div class="menu-smf">
          <input id="input" type="checkbox"> 
      <label id="label1" for="input"><div class="line1"></div><div class="line2"></div><div class="line3"></div></label> 
    <div id="content">
        <ul id="link"> 
          <% if logged_in? %>
            <li>
              <%= link_to "マイページ", user_path(current_user.id), class: "nav-text" %>
            </li>
            <li>
              <%= link_to "ほしいリスト", favorites_index_path, class: "nav-text" %>
            </li>
            <li>
              <%= link_to "ペット投稿", pets_new_path, class: "nav-text" %>
            </li>
            <li>
              <%= link_to "ペット一覧", pets_path, class: "nav-text" %>
            </li>
            <li>
              <%= link_to "jimopetについて", pages_about_path, class: "nav-text" %>
            </li>
            <li>
              <%= link_to "ログアウト", logout_path, method: :delete, class: "nav-text" %>
            </li>
          <% else %>
            <li>
              <%= link_to "jimopetについて", pages_about_path, class: "nav-text2" %>
            </li>
            <li>
              <%= link_to "ログイン", login_path, class: "nav-text2" %>
            </li>
          <% end %>
        </ul>
        </div>
        </div>
        
        
      </div>
    </nav>
    <%= yield %>
    <!--3秒で消える-->
    <script> 
  　$(function(){
    　$(".alert").fadeOut(3000);
 　　 });
　　</script>
　　
  </body>
</html>
